
.row {
    padding: 1rem 0;
    padding-left: 5rem;
}

.row > h3 {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.row > h3 > a {
    font-size: 23px;
    text-decoration: none;
    color: white;
}

.row > h3 > span {
    color: white;
    font-size: 0.9rem;
    opacity: 0;
    transform: translateX(-1rem);
    display: inline-block;
    cursor: pointer;
    transition-property: max-width, opacity, transform, -webkit-transform;
    transition-duration: 0.45s, 0.45s, 0.75s, 0.75s;
    transition-timing-function: ease, ease, ease, ease;
    transition-delay: 0s, 0s, 0s, 0s;

}

.row > h3 > span > #forwardIcon {
    font-size: 0.8rem;
    transform: translateY(0.15rem);
}

.row > h3:hover > span {
    opacity: 1;
    transform: translateX(0.5rem);
}

.carousel {
    width: 100%;

}

#swiper {
    width: 100%;
    overflow: visible;

}

#swiper #swiperSlide {
    transition: 0.3s !important;
    width: 18rem !important;
    cursor: pointer !important;
    overflow: hidden !important;
}

#swiper #swiperSlide:hover {
    transform: scale(1.2);
    z-index: 1;
}

#swiper #swiperSlide:first-child:hover {
    margin: 0 2.25rem;
}

#swiper #swiperSlide > img {
    width: 18rem;
    cursor: pointer;
    object-fit: cover;
    border-radius: 5px;
}

#swiper #swiperSlide .darkPanel {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18rem;
    height: 100%;
    border-radius: 5px;
    background-color: black;
    opacity: 0;
    z-index: 1;
    transition: 0.2s ease-out;
    pointer-events: none;
}

.hoveredMovie {
    margin: 0 !important;
    background: linear-gradient(1turn,rgba(0,0,0,.6),transparent 65%) !important;
}

.moveRight {
    transform: translateX(3rem);
}

.moveLeft {
    transform: translateX(-2rem);
}

.swiper-pagination {
    top: -35px;
    right: 4.5%;
    left: auto!important;
    bottom: auto!important;
    width: auto!important;
    opacity: 0;
    transition: opacity .2s ease-out;
}

.swiper-pagination-show {
    opacity: 1;
}

.swiper-pagination-bullet {
    border-radius: 0;
    width: 12px;
    height: 5px;
    background-color: #aaa;
}

.swiper-pagination-bullet-active {

}


.swiper-button-next, .swiper-button-prev {
    color: white !important;
    opacity: 0 !important;
    transform: translateY(-39%) !important;
    transition: 0.3s;
    height: 100% !important;
    width: 3rem !important;
    background: rgba(16,16,17,.5);
}

.swiper-button-prev {
    left: 0 !important;
    transform: translateX(-5rem) translateY(-39%) !important;
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;

}

.swiper-button-next {
    right: 0 !important;
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
}

.swiper-button-prev:hover {
    opacity: 1 !important;
}

.swiper-button-next:hover {
    opacity: 1 !important;
}

.movieContent {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0.75rem;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transform: translateY(3rem);
    opacity: 0;
    transition: 0.5s ease-out;
}

.showMovieContent {
    opacity: 1;
    transform: translateY(0);
}
.movieContent-actions {
    display: flex;

}

.movieContent-actions * {
    font-size: 2.5rem !important;
}

.actionsCircle {
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.actionsCircle:nth-child(2) {
    margin-left: 0.75rem;
}

.actionsCircle:nth-child(3) {
    margin-left: 0.75rem;
}

#actionsPlayIcon {
    background-color: black !important;
    color: white !important;
    opacity: 1 !important;
    transition: 0.3s !important;

}

#actionsPlayIcon:hover {
    opacity: 0.7 !important;
}

#actionsAddIcon {
    color: white !important;
    transition: 0.3s !important;
    opacity: 1 !important;
}

#actionsAddIcon:hover {
    opacity: 0.7 !important;

}
#actionsExpandIcon {
    color: white !important;
    transition: 0.3s !important;
    opacity: 1 !important;
}

#actionsExpandIcon:hover {
    opacity: 0.7 !important;
}

.movieContent > h1 {
    color: white;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.movieContent-genres {
    margin-top: 0.25rem;
}

.movieContent-genres > span {
    color: white;
    font-size: 0.75rem;
}

.movieContent-genres > span:not(:first-child) {
    margin-left: 0.5rem;
}

@media only screen and (min-width: 300px) and (max-width: 400px) {
    .row {
        padding-left: 1rem;
    }

    .swiper-button-prev {
        transform: translateX(-1rem) translateY(-39%) !important;
    }

    #swiper #swiperSlide {
        width: 10rem !important;
    }

    #swiper #swiperSlide > img {
        width: 10rem !important;
    }
}




