.homePage {
    width: 100%;
}

.banner {
    width: 100%;
    height: 80vh;
    background-image: url("https://image.tmdb.org/t/p/original/5gCRpff1ptTXA8t1smzgEi0z8Ea.jpg");
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: flex-end;

}

.banner-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20,20,20,.2);

}

.banner-bottomShadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7.5rem;
    background: linear-gradient(180deg,transparent,rgba(14,14,14,.6),#141414);
}

.banner-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    padding: 0 4rem;
}

.banner-content > h1 {
    color: white;
    font-size: 3.5rem;
    max-width: max-content;
}

.banner-buttons {
    display: flex;
    margin-top: 1.5rem;
    max-width: max-content;
}

#playButton {
    display: flex;
    align-items: center;
    background-color: #e50914;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 2.5rem;
    margin-right: 0.5rem;
}

#playIcon {
    margin-right: 0.25rem !important;
    color: white !important;
    cursor: pointer;
}

#playButton > span {
    font-size: 1rem;
    color: white;
}

#moreInfoButton {
    background-color: rgba(109,109,110,.7);
    display: flex;
    align-items: center;
    padding: 0.5rem 2.5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#infoIcon {
    color: white;
    margin-right: 0.5rem;
}

#moreInfoButton > span {
    font-size: 1rem;
    color: white;
}

.banner-content > p {
    color: white;
    max-width: 33rem;
    line-height: 2rem;
    font-size: 1.25rem;
    margin-top: 1rem;
}

.row {
    padding: 1rem 0;
}

.row > h3 {
    margin-bottom: 1rem;
}

.row > h3 > a {
    font-size: 23px;
    text-decoration: none;
    color: white;
}

.row > h3 > span {
    color: white;
    font-size: 1rem;
    opacity: 0;
    transform: translateX(-1rem);
    display: inline-block;
    transition: 0.5s;
    cursor: pointer;

}

.row > h3 > span > #forwardIcon {
    font-size: 1rem;
    transform: translateY(0.15rem);
}

.row > h3:hover > span {
    opacity: 1;
    transform: translateX(0.5rem);
}

.carousel {
    width: 100%;

}

#swiper {
    width: 100%;
    overflow: visible;
}

#swiper #swiperSlide {
    transition: 0.3s !important;
    width: 18rem !important;
    cursor: pointer !important;
}

#swiper #swiperSlide:hover {
    transform: scale(1.2);
    z-index: 1;
}

#swiper #swiperSlide:first-child:hover {
    margin: 0 2.25rem;
}

#swiper #swiperSlide > img {
    width: 18rem;
    cursor: pointer;
    object-fit: cover;
    border-radius: 5px;
}

#swiper #swiperSlide .darkPanel {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18rem;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(1turn,rgba(0,0,0,.6),transparent 65%);
    z-index: 1;
}

.moreDark {
    background: linear-gradient(1turn,rgba(0,0,0,.6),transparent 1000%) !important;
}

.hoveredMovie {
    margin: 0 !important;
    background: linear-gradient(1turn,rgba(0,0,0,.6),transparent 65%) !important;
}

.moveRight {
    transform: translateX(3rem);
}

.moveLeft {
    transform: translateX(-2rem);
}

.swiper-pagination-bullet {

}

.swiper-pagination-bullet-active {

}


.swiper-button-next, .swiper-button-prev {
    color: white !important;
    opacity: 0 !important;
    transform: translateY(-39%) !important;
    transition: 0.3s;
    height: 100% !important;
    width: 3rem !important;

}

.swiper-button-next {
}

.swiper-button-prev:hover {
    opacity: 1 !important;
}

.swiper-button-next:hover {
    opacity: 1 !important;
}

