.homePage {
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.movieInfoModal {
    outline: solid red;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 20;
}

.movieInfoContainer {
    position: absolute;
    width: 40%;
    height: 90%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    z-index: 10;
    top: 5%;
    left: 30%;
}

.topContent {
    height: 50%;
    background-size: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

}

.topContentHeader {
    width: 97.5%;
    height: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.topContentHeader > .actionsCircle {
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.actionsCircle > #exitButton {
    font-size: 2.5rem !important;
    color: black !important;
    background-color: white !important;
    transition: 0.3s;
    cursor: pointer;
}

.actionsCircle > #exitButton:hover {
    color: white !important;
    background-color: black !important;
}

.topContentActions {
    display: flex;
    z-index: 11;
    position: relative;
    width: max-content;
    height: max-content;
    margin-top: 19rem;
    align-items: center;

}


.topContentActions > #playButton {
    display: flex;
    align-items: center;
    background-color: rgb(229,8,20);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 2.5rem;
    margin-left: 1.5rem;
    transition: 0.3s;
    opacity: 1;
    cursor: pointer;

}


.topContentActions  #playButton:hover {
    background-color: rgba(205,23,15,255);
}

.topContentActions #playIcon {
    margin-right: 0.25rem !important;
    color: white !important;
    cursor: pointer;
}


.topContentActions #playButton > span {
    font-size: 1rem;
    color: white;
}

.topContentActions .movieContent-actions {
    display: flex;
}

.topContentActions .movieContent-actions * {
    font-size: 2.5rem !important;
}

.topContentActions #actionsAddIcon {
    color: white !important;
    transition: 0.3s !important;
    opacity: 1 !important;
}

.topContentActions #actionsAddIcon:hover {
    opacity: 0.7 !important;

}

.movieInfoContainer-bottomShadow {
    position: absolute;
    top: 41%;
    width: 100%;
    height: 5rem;
    background: linear-gradient(180deg,transparent,rgba(14,14,14,.6),#141414);
}

.movieInfoContainer > .bottomContent {
    height: 50%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #181818;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}

.bottomContent > h1 {
    color: white;
    padding-top: 1.5rem;
    font-size: 1.5rem;
}

.bottomContent > p {
    color: white;
    padding-top: 1rem;
    line-height: 1.5;
    border-bottom: 1px solid #5C5C5C;
    padding-bottom: 1.5rem;

}

.bottomContent > h2 {
    color: white;
    padding-top: 1.5rem;
    font-size: 1.3rem;
    font-weight: 400;
}

.bottomContent > h2 > span {
    font-weight: 700;
}

.bottomContent > ul {
    padding-top: 0.75rem;
}

.bottomContent > ul > li {
    padding-top: 0.5rem;
    color: #777777;
    font-size: 0.9rem;
}

.bottomContent > ul > li > span {
    color: #dddddd;
}